/* Error: The target selector was not found.
 * Use "@extend %no-margin-top !optional" to avoid this error.
 *     ,
 * 284 |         @extend %no-margin-top, %no-margin-bottom, %default-margin-left, %default-margin-right;
 *     |         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *     '
 *   scss\style.scss 284:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: The target selector was not found.\aUse "@extend %no-margin-top !optional" to avoid this error.\a     \2577 \a 284 \2502          @extend %no-margin-top, %no-margin-bottom, %default-margin-left, %default-margin-right;\d\a     \2502          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a     \2575 \a   scss\\style.scss 284:9  root stylesheet';
}
